.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 22.5rem;
    height: 9.375rem;
    flex-shrink: 0;

    border-radius: 0.75rem;
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.imgBox {
    margin: 2%;
    width: 30%;
}

.bookingInfo {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.moreView {
    width: 5%;
    margin-right: 5%;
}

.concertName, .location, .paymentDate, .seatCnt, .paymentAmount, .period  {
    width: 100%;
    min-height: 1rem;
    text-align: start;   
}

.concertName {
    color: var(--_, #444);
    font-family: Gmarket Sans TTF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03125rem;
    margin: 2% auto;
}

.location, .paymentDate, .seatCnt, .paymentAmount {
    color: var(--_, #444);
    font-family: Gmarket Sans TTF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03125rem;
    margin-bottom: 1%;
}   

.period {
    color: var(--_dimmedColor, #B6B6B6);
    font-family: Gmarket Sans TTF;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-emphasis:  1000; 
}

.cancel-button{
    color : red;
}

.cancel-button:hover {
    cursor:pointer;
    color : #444;
}

.cancel-comment{
    margin-top: 25%;

    font-family: Gmarket Sans TTF;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-emphasis:  1000;

}