.container {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.selectbar {
    min-width: 100%;
    margin: 1rem;
    
}

.searchbar {
    min-width: 100%;
    margin: 1rem;

}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
}