.container{
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 5%;
    gap:2%
   }
   
   .seatList{
       width: 100%;
       margin: 0.25rem;
   }

   .seat:hover{
    cursor: pointer;
}