.container{
    width: 100%;
    height: 100%;
}

.body{
    display: flex;
    flex-wrap: wrap;
    min-height: 93vh;
    
    /* height: 100%; */
}

.concertView{
    width: 80%;
    height: 100%;
    background: var(--_30, rgba(217, 217, 217, 0.30));
    min-height: 93vh;


}

.selectedSeat{

    position: relative;
    z-index: 100;
    width: 20%;
    height: 100%;
    background: #FFF;
    min-height: 93vh;
}

.loading{
    width: 100%;
    height: 100%;
}

.loading-box{
    margin: 15% auto;
    width: 15rem;
    height: 15rem;
}

.seat-cnt-bar{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 5rem;
    flex-shrink: 0;

    background: #626262;

    color: #FFF;
    font-family: Gmarket Sans TTF;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 80% */
    letter-spacing: 0.03125rem;

}

.seat-cnt{
    color: #41D26B;
    font-family: Gmarket Sans TTF;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;

}

.seat-cnt-comment{
    margin-left: 1rem;
}

.buttonBox{
    /* width: 100%; */
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 2rem 4rem;
    margin: 1rem;
    background: #74ABDE;
    position: absolute;
    bottom: 0;

    color: #FFF;
    font-family: Gmarket Sans TTF;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 80% */
    letter-spacing: 0.03125rem;
}

.selected-seat-component{
    margin: 0 auto;

}